<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		{% for js in javascript %}
		<!-- {{ js['name'] }} -->
		<script type="text/javascript">
			{{ js['content'] }}
		</script>
		{% endfor %}
		{% for css in stylesheets %}
		<style>
			{{ css }}
		</style>
		{% endfor %}
	</head>
	<body onload="filter_state('open')">
		<div id="header">
			<h1 class="repo-title">
				<a class= "username" href="{{ repo['owner']['html_url'] }}"">{{ repo['owner']['login'] }}</a>/<a class="reponame" href="{{ repo['html_url'] }}">{{ repo['name'] }}</a>
			</h1>
		</div>
		<div id="content">
			<div id="nav">
				<ul>
					<li class="btn-group">
						<a class="btn btn-group--left active state-open" id="filter_state_open" href="javascript:filter_state('open')">Open</a>
						<a class="btn btn-group--right state-closed" id="filter_state_closed" href="javascript:filter_state('closed')">Closed</a>
					</li>
				</ul>

				<ul>
					 <lh>Milestones</lh>
					{% for ms in milestones %}
					<li class="milestone visible {{ ms['status'] }}"><a href="javascript:filter_not_in_milestone()">{{ ms['title'] }}</a></li>
					{% endfor %}
					<li class="milestone visible"><a href="javascript:filter_not_in_milestone()">Not in any milestone</a></li>
				</ul>

				<ul>
					<lh>Labels</lh>
					{% for label in labels %}
					<li class="label visible"><div class="bg" style="background-color: {{ label['color'] }};"></div><a href="javascript:filter_not_in_milestone()">{{ label['name'] }}</a></li>
					{% endfor %}
					<li class="label visible"><a href="javascript:filter_not_in_milestone()">No label</a></li>
				</ul>
			</div>
		
		<div class="issues-list">
			{% for issue in issues %}
			<li class="issue-item visible"><a href="javascript:filter_not_in_milestone()">{{ issue['title'] }}</a></li>
			{% endfor %}
		  </ul>
		</div>
		
		
		
		<div class="issue visible">
			{% for issue in issues %}
			<h2 class="issue-title"> {{ issue['title'] }}  <span class="issue-id">#{{ issue['number'] }}</span></h2>
			<div class="issue-details">
				<div class="status {{ issue['status'] }}">{{ issue['status'] }}</div>
				<div class="issue-author"><strong>{{ issue['user']['login'] }}</strong> opened this issue on {{ issue['created_at'] }} • {{ issue['comments'] }}</div>
			</div>
			{% endfor %}
		</div>

		{% for comment in comments %}
		<div class="author {{ comment['user']['avatar_class'] }}">
		</div>
		<div class="comment">
			<div class="comment-details">
				<div class="comment-author"><strong>{{ comment['user']['login'] }}</strong> commented on this issue on {{ comment['created_at'] }}</div>
			</div>
			<div class="comment-content">
				{{ comment['body'] }}
			</div>
		</div>
		{% endfor %}
	</body>
</html>
